@import '../_variables'

.side-panel
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    max-width: 450px
    padding: 1rem

    .thumbnails
        display: flex
        flex-wrap: wrap
        gap: 0.5rem

    button
        padding: 0
        border: none
        background: none
        border-radius: 0.5rem
        overflow: hidden
        height: 75px
        width: 75px
        cursor: pointer

        &.current
            // outline: 3px solid $brown-saturated

        img
            max-width: 75px
